Repository InditexTech/weavejs, pull requests merged in 2025-09, with the labels that each got.

#629 Update SECURITY.md
  SECURITY.md
Labels: skip-release

#631 Force comment inner state to idle when a comment is deleted from outside viewing component
  code/CHANGELOG.md
  code/packages/sdk/src/nodes/comment/comment.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.62.2.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
  docs/content/docs/sdk/api-reference/nodes/comment.mdx
Labels: release-type/patch

#633 Missing method to set comment model after creation
  code/CHANGELOG.md
  code/packages/sdk/src/nodes/comment/comment.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.62.3.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
  docs/content/docs/sdk/api-reference/nodes/comment.mdx
Labels: release-type/patch

#641 Support to define an async function to load custom fonts
  code/CHANGELOG.md
  code/packages/react/src/components/provider.tsx
  code/packages/sdk/src/managers/fonts.ts
  code/packages/sdk/src/nodes/text/text.ts
  code/packages/sdk/src/weave.ts
  code/packages/types/src/types.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.65.0.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/minor

#643 Improved handling of connections and o11y for Azure Web Pubsub store
  code/CHANGELOG.md
  code/packages/sdk/src/stores/store.ts
  code/packages/store-azure-web-pubsub/src/index.server.ts
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-host.ts
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-server.ts
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-sync-handler.ts
  code/packages/store-azure-web-pubsub/src/server/event-handler/cloud-events-dispatcher.ts
  code/packages/store-azure-web-pubsub/src/types.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.66.0.mdx
  docs/content/docs/main/changelog/prerelease/0.67.0.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/minor

#645 Don't filter by group on connection handler for azure web pubsub store
  code/CHANGELOG.md
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-sync-handler.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.67.1.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/patch

#651 Use server event bus instead of creating another instance on Azure Web Pubsub store
  code/CHANGELOG.md
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-sync-handler.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.67.4.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/patch

#657 Throttled Azure Web PubSub store sync events
  code/CHANGELOG.md
  code/packages/sdk/src/managers/export.ts
  code/packages/sdk/src/nodes/text/text.ts
  code/packages/sdk/src/plugins/nodes-selection/nodes-selection.ts
  code/packages/sdk/src/plugins/stage-grid/constants.ts
  code/packages/sdk/src/plugins/stage-grid/stage-grid.ts
  code/packages/sdk/src/plugins/users-pointers/constants.ts
  code/packages/store-azure-web-pubsub/package.json
  code/packages/store-azure-web-pubsub/src/constants.ts
  code/packages/store-azure-web-pubsub/src/store-azure-web-pubsub.ts
  code/packages/store-azure-web-pubsub/src/types.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.68.1.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/patch

#661 Improve Azure Web PubSub internal WS handling and externalize events
  code/CHANGELOG.md
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-host.ts
  code/packages/store-azure-web-pubsub/src/server/azure-web-pubsub-sync-handler.ts
  code/packages/store-azure-web-pubsub/src/types.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.69.0.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/minor

#664 Recalculate Text node size when properties change
  code/CHANGELOG.md
  code/packages/sdk/src/nodes/text/text.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.69.1.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: skip-release

#665 Check Frames undo / redo issues where nodes disappear
  code/CHANGELOG.md
  code/packages/sdk/src/reconciler/reconciler.ts
  docs/content/docs/main/changelog/prerelease/0.69.1.mdx
Labels: release-type/patch

#669 Frame tool doesn't allow to define the frame size when creating
  code/CHANGELOG.md
  code/packages/sdk/src/actions/frame-tool/frame-tool.ts
  docs/content/docs/main/changelog/prerelease/0.69.2.mdx
Labels: release-type/patch

#671 Improved WYSIWYG of Text node edition mode
  code/CHANGELOG.md
  code/packages/sdk/src/nodes/text/text.ts
  code/packages/sdk/src/plugins/nodes-selection/nodes-selection.ts
  code/packages/types/src/types.ts
  docs/content/docs/main/changelog/index.mdx
  docs/content/docs/main/changelog/prerelease/0.70.0.mdx
  docs/content/docs/main/changelog/prerelease/meta.json
Labels: release-type/minor
